<div
  infiniteScroll
  [infiniteScrollDistance]="2"
  (scrolled)="onScroll()"
>
  <div>

    Start Date:
    <input
      type="text"
      [singleDatePicker]="true"
      ngxDaterangepickerMd
      [(ngModel)]="selected"
      (datesUpdated)="getEventsFromNewDate()"
      class="form-control"
    />
  </div>
  <ngx-masonry [options]="{ horizontalOrder: true, gutter: 10 }" [updateLayout]="true">
    <app-event
      *ngFor="let event of events; let i = index"
      class="calendar__event"
      ngxMasonryItem
      [event]="event"

    ></app-event>

  </ngx-masonry>
</div>
